.loginContainer {
  width: 100vw;
  height: 100vh;

  .loginBox {
    width: 900px;
    min-width: 700px;
    height: 560px;
    min-height: 400px;
    box-sizing: border-box;
    border-radius: 20px;
    background: url("/hub/next-public/images/login/login-bg.png") no-repeat
      center center;
    background-size: cover;
    box-shadow:
      0 8px 24px rgba(0, 0, 0, 0.05),
      0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;

    .leftSection {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .rightSection {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 20px;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      .loginFormContent {
        width: 90%;
        height: 90%;
        background: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

        .loginTitle {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 30px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .loginContainer {
    .loginBox {
      width: 100%;
      min-width: unset;
      height: 100vh;
      min-height: unset;
      border-radius: 0;
      background: #fff;
      box-shadow: none;

      .leftSection {
        display: none;
      }

      .rightSection {
        padding: 20px;

        .loginFormContent {
          width: 100%;
          height: 100%;
          box-shadow: none;
          padding: 10px;

          .loginTitle {
            font-size: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
